<% if(typeof success !== 'undefined' && success && success.length > 0) { %>
  <div class="alert alert-success"><i class="fas fa-check-circle"></i> <%= success[0] %></div>
<% } %>
<% if(typeof error !== 'undefined' && error && error.length > 0) { %>
  <div class="alert alert-error"><i class="fas fa-exclamation-circle"></i> <%= error[0] %></div>
<% } %>
